<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户敏感数据列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>用户名称：</p>
                                <input type="text" name="idCardName"/>
                            </li>
                            <li>
                                <p>身份证号：</p>
                                <input type="text" name="idCardNum"/>
                            </li>
                            <li>
                                <p>收款账号：</p>
                                <input type="text" name="receivingAccount"/>
                            </li>
                            <li>
                                <p>邀请人名称：</p>
                                <input type="text" name="invitationName"/>
                            </li>
                            <li>
                                <p>状态：</p>
                                <select name="status" th:with="type=${@dict.getType('user_status')}">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

           <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="lb:sensitive:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
               <!--  <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="lb:sensitive:edit">
                     <i class="fa fa-edit"></i> 修改
                 </a>
                 <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="lb:sensitive:remove">
                     <i class="fa fa-remove"></i> 删除
                 </a>
                 <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="lb:sensitive:export">
                     <i class="fa fa-download"></i> 导出
                  </a>-->
             </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('lb:sensitive:edit')}]];
        var removeFlag = [[${@permission.hasPermi('lb:sensitive:remove')}]];
        var prefix = ctx + "lb/sensitive";
        var statusDatas = [[${@dict.getType('user_status')}]];
        var stageType = [[${@dict.getType('stage_type')}]];

        $(function() {
            var options = {
                url: prefix + "/list_admin",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                updateCollectionInformationUrl: prefix + "/edit_collection_information/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "用户敏感数据",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'userId',
                    title : 'userId'
                },
                {
                    field : 'userName',
                    title : '用户名称'
                },
                {
                    field : 'idCardNum', 
                    title : '身份证号'
                },
                {
                    field : 'receivingAccount', 
                    title : '收款账号'
                },
                {
                    field : 'invitationCode', 
                    title : '邀请码'
                },
                {
                    field : 'invitationName',
                    title : '邀请人名称'
                },
                {
                    field : 'userLoveVal',
                    title : '爱心值'
                },
                {
                    field : 'userLevel',
                    title : '阶段',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(stageType, value);
                    }
                },
                {
                    field : 'userAmount',
                    title : '已有金额'
                },
                {
                    field : 'predeterminedAmount',
                    title : '所需金额'
                },
                {
                    field : 'status',
                    title : '状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.userId + '\')"><i class="fa fa-edit"></i>查看详情</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="editCollectionInformation(\'' + row.userId + '\')"><i class="fa fa-edit"></i>修改收款账号</a> ');
                        // actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function editCollectionInformation(id){
            var url = $.table._option.updateCollectionInformationUrl.replace("{id}", id);
            $.modal.open("修改" + $.table._option.modalName, url);
        }

    </script>
</body>
</html>