<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户敏感数据列表')" />
    <ul class="nav nav-tabs">
        <li role="presentation"><a th:href="@{/lb/sensitive/edit/{id}/(id=${userId})}">用户信息</a></li>
        <li role="presentation"><a th:href="@{/lb/detail/list_by_payment/{userId}/(userId=${userId})}">打款记录</a></li>
        <li role="presentation"><a th:href="@{/lb/detail/list_by_collection/{userId}/(userId=${userId})}">收款记录</a></li>
        <li role="presentation"><a th:href="@{/lb/sensitive/sensitive_sub/{id}/(id=${userId})}">我的好友</a></li>
        <li role="presentation" class="active"><a href="#">我的团队</a></li>
        <li role="presentation"><a th:href="@{/lb/task/lottery_record/{id}/(id=${id})}">开奖记录</a></li>
    </ul>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <input hidden id="userId" name="userId" th:value="*{userId}">
                    <!--<div class="select-list">
                        <ul>
                            <input type="hidden" name="invitationId"  th:value="${userId}"/>
                            <li>
                                <p>用户名称：</p>
                                <input type="text" name="idCardName"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>-->
                </form>
            </div>

           <!--<div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="lb:sensitive:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="lb:sensitive:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="lb:sensitive:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="lb:sensitive:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>-->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('lb:sensitive:edit')}]];
        var removeFlag = [[${@permission.hasPermi('lb:sensitive:remove')}]];
        var prefix = ctx + "lb/sensitive";

        $(function() {
            var options = {
                url: prefix + "/my_team",
                modalName: "我的团队",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'level',
                    title : '层级'
                },
                {
                    field : 'number',
                    title : '团队'
                },
                {
                    field : 'receivedOrderNum',
                    title : '收到订单数'
                },
                {
                    field : 'leakOrderNum',
                    title : '漏单数'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>